streamlit
pypdf2
plotly
langdetect
deep-translator
sentence-transformers==2.7.0
spacy==3.5.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl